<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Manage</title>
    </head>
    <body>
        <div>
            <div align="center">
                <h1>Manage</h1>
                <form action="file/upload" method="post" enctype="multipart/form-data">
                    <h3>upload file</h3>
                    <input type="file" name="file">
                    <input type="submit" value="submit">
                </form>
            </div>
        </div>
    </body>
</html>